* {
  box-sizing: border-box;
  font-family: Arial, Calibri, sans-serif;
}

header {
	position: relative;
	text-align: center;
	font-family: Arial, Calibri, sans-serif;
	font-size: 1.5625em;
	width: 100%;
	background-color: #f1f1f1;
}

header h2 {
	margin-top: 0;
	position: relative;
	right: 15px;
}

div#header {
	background-color: #f1f1f1;
}

body {
	margin: 0;
	background-color: #ffe0ff;
}

body h1 {
	font-family: Arial, Calibri, sans-serif;
}

body h2 {
	font-family: Arial, Calibri, sans-serif;
}

body h3 {
	font-family: Arial, Calibri, sans-serif;
}

body h4 {
	font-family: Arial, Calibri, sans-serif;
}

body h5 {
	font-family: Arial, Calibri, sans-serif;
}

body h6 {
	font-family: Arial, Calibri, sans-serif;
}

body p {
	font-family: Arial, Calibri, sans-serif;
}

body pre {
	font-family: "Lucida Console", Monaco, monospace;
}

.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
	height: 100%;
}
.main {
	flex: 70%;
	padding: 20px;
}

nav {
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e3e3e3;
	color: #f2f2f2;
	text-decoration: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #d3d3d3;
}

#active {
	color:#fff6f6 ;
	background-color: #4CAF50;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}