* {
  box-sizing: border-box;
}

header {
	position: relative;
	text-align: center;
	font-family: Arial, Calibri, sans-serif;
	font-size: 1.5625em;
	width: 100%;
}

header h2 {
	margin-top: 0;
	position: relative;
	right: 15px;
	color: #DCDCDC;
}

div#header {
	background-color: #808080;
}

body {
	margin: 0;
}

body h1 {
	font-family: Arial, Calibri, sans-serif;
}

body h2 {
	font-family: Arial, Calibri, sans-serif;
}

body h3 {
	font-family: Arial, Calibri, sans-serif;
}

body h4 {
	font-family: Arial, Calibri, sans-serif;
}

body h5 {
	font-family: Arial, Calibri, sans-serif;
}

body h6 {
	font-family: Arial, Calibri, sans-serif;
}

body p {
	font-family: Arial, Calibri, sans-serif;
}

body pre {
	font-family: "Lucida Console", Monaco, monospace;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}
.main {
	flex: 70%;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #444;
}

#active {
	background-color: #00bbff;
}